// =============================================
//
//	Background Mixins
//
// =============================================

//	
//	@mixin image-at2x
//	@param $path {String} Full image path without extension
//	@param $ext {jpg|png|gif} Image extension
//	@param $w {px|em|%} Image extension
//
// 	@desc:
// 		Add background image with retina replacement image
//		for high density screen resolutions
//
@mixin background-at2x($path, $ext: "jpg") {
	$at1x_fileName: "#{$path}.#{$ext}";

	@include replace-text-with-dimensions($at1x_fileName);

	$at1x_path: image-url($at1x_fileName);
	$at1x_width: image-width($at1x_fileName);
	$at1x_height: image-height($at1x_fileName);
	$at2x_path: image-url("#{$path}@2x.#{$ext}");

	background-image: $at1x_path;
	background-size: $at1x_width $at1x_height;

	@media #{$media-retina} {
		background-image: $at2x_path;
	}
}