// Media Queries

$media-retina: "(-webkit-min-device-pixel-ratio: 1.5),
	(min--moz-device-pixel-ratio: 1.5),
	(-o-min-device-pixel-ratio: 3/2),
	(min-device-pixel-ratio: 1.5),
	(min-resolution: 192dpi),
	(min-resolution: 2dppx)";